/* Custom style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* Custom style */
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}

/* Custom style */
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

/* Custom style */
.panel {
  max-width: 400px;
  margin: 0 auto;
}

/* Add this to your CSS */
.list-group-item {
  position: relative;
}

/* Add this to your CSS */
.list-group-item {
  position: relative;
}

.list-group-item-success .badge.alert-success {
  position: absolute;
  top: 50%; /* Position it in the middle of the item vertically */
  right: 20px; /* Adjust the value as needed to control the spacing */
  transform: translateY(-50%); /* Move it up by half of its height */
}

/* Add this to your CSS */
.circle-badge {
  position: absolute;
  display: inline-block;
  vertical-align: middle; /* Align with the progress bar */
}

.circle-background {
  color: lightgreen;
  position: absolute;
  top: 200%; /* Adjust the vertical position */
  left: 400px; /* Adjust the horizontal position */
  transform: translateY(-50%); /* Center vertically */
  font-size: 20px; /* Adjust the size as needed */
}

.tick-icon {
  color: green;
  position: absolute;
  top: 200%; /* Adjust the vertical position */
  left: 405px; /* Adjust the horizontal position */
  transform: translateY(-50%); /* Center vertically */
  font-size: 12px; /* Adjust the size as needed */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/public/logoud.png'), url('/public/logo2.png'), url('/public/logokud.png'), url('/public/text.png'); /* Use absolute path */
  background-size:  150px, auto 700px, 250px,  250px;
  background-color: rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8);
  background-position: top left, center, top right, bottom right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
